$gradient-background-color: radial-gradient(farthest-corner at 40px 40px, #2a475e 0%, #1b2838 80%);
$gradient-background-color-p: linear-gradient(to bottom, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 70%);
$gradient-background-search: linear-gradient(
	90deg,
	rgba(62, 103, 150, 0.919) 11.38%,
	rgba(58, 120, 177, 0.8) 25.23%,
	rgb(15, 33, 110) 100%
);

